.introduction {
  padding-top: 10rem;
  padding-bottom: 10rem;

  display: grid;
  grid-template-columns: 2fr 2fr;
}

.introduction h1 {
  font: 500 48px "Oleo Script";
  letter-spacing: 3%;
  color: #212529;
}

.introduction h2 {
  font: 500 28px "Oleo Script";
  letter-spacing: 4%;

  color: #868e96;
  max-width: 340px;

  margin-top: 20px;
}

.introduction a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: #af2026;
  width: 180px;
  height: 50px;

  color: #fff;
}

.introduction a.button:hover {
  background: #7c181d;
  color: #f1f1f1;
}

.introduction .image-profile {
  background: #c4c4c4;
  height: 40vh;
  width: 20vw;
  border-radius: 50%;
  padding: 15%;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: #000000;
  border: 2px solid #000;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .contact-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;

  width: 50vw;
}

.contact .contact-wrap .logo-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 110px;

  background: #868e96;
  border-radius: 20px;

  color: #fff;
}

.about-me {
  margin-top: 130px;
  padding: 3rem;
  max-width: 970px;

  background: #0f1324;
  border-radius: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-me h2 {
  color: #ededee;
}

.about-me h3 {
  color: #f2f2f3;
}

.about-me p {
  color: #fafafa;

  margin-top: 10px;
}

.about-me .section-about-me {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.about-me .section-about-me section {
  max-width: 15vw;
}
.graduated {
  margin-top: 130px;
}

.graduated .graduated-wrap {
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
}

.graduated .graduated-wrap .image-graduated {
  background: #c4c4c4;
  height: 30vh;
  width: 30vw;
  padding: 5%;
  text-align: center;
  color: #000000;
}

.graduated .graduated-wrap ul li {
  font-size: 18px;
  line-height: 40px;
}

.experience {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience .experience-wrap {
  margin-top: 50px;

  display: flex;
  justify-content: space-around;

  margin-bottom: 130px;
}

.experience .experience-wrap .image-experience {
  height: 80px;
  width: 140px;
  background: #c4c4c4;
}

.section-techs {
  display: flex;
}

.section-techs .tech-item {
  margin-top: 50px;

  width: 35vw;
  text-align: center;
}

.section-techs .tech-item:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.section-techs .tech-item .tech-wrap {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 70px);
}

.section-techs .tech-item .tech-wrap .image-tech {
  justify-self: center;
  width: 95px;
  height: 60px;
  background: #868e96;
  color: #fff;
  border-radius: 20px;
}
