.introduction {
  padding-top: 10rem;
  padding-bottom: 10rem;

  display: grid;
  grid-template-columns: 2fr 2fr;

  background: url(../../assets/svg/header-background.svg) no-repeat left top
    scroll;
}

.introduction section {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.introduction h1 {
  font: 500 48px "Oleo Script";
  letter-spacing: 3%;
  color: #212529;
}

.introduction h2 {
  font: 500 28px "Oleo Script";
  letter-spacing: 4%;

  color: #868e96;
  max-width: 340px;

  margin-top: 20px;
}

.introduction a.button {
  -webkit-appearance: button;
  appearance: button;
  -moz-appearance: button;
  text-decoration: none;

  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: #af2026;
  width: 180px;
  height: 50px;

  color: #fff;
}

.introduction a.button:hover {
  filter: brightness(80%);
}

.introduction .image-profile {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
}

.introduction .image-profile img {
  width: 100%;
  height: 100%;
}

.contact {
  text-align: center;

  width: 100%;
}

.contact .contact-wrap {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.contact .contact-wrap img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5.8rem;
  height: 6rem;
  margin: 0 1rem;
  border-radius: 4pt;
}

.about-me {
  margin-top: 10rem;
  padding: 3rem;
  width: 60vw;

  background: #0f1324;
  border-radius: 10pt;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-me h2 {
  color: #ededee;
}

.about-me h3 {
  color: #f2f2f3;
}

.about-me p {
  color: #fafafa;

  margin-top: 10px;
}

.about-me .section-about-me {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.about-me .section-about-me section {
  max-width: 15vw;
}

.graduated {
  margin-top: 10rem;
}

.graduated .graduated-wrap {
  margin-top: 3rem;

  display: flex;
  justify-content: space-around;
}

.graduated .graduated-wrap img {
  height: 30vh;
  width: 30vw;
}

.graduated .graduated-wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graduated .graduated-wrap ul li {
  font-size: 18px;
  line-height: 40px;
}

.experience {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.experience .experience-wrap {
  margin-top: 3rem;

  display: grid;
  grid-template-columns: repeat(4, 2fr);

  justify-items: center;
  align-items: center;
}

.experience .experience-wrap img {
  max-height: 5rem;
  max-width: 20rem;
}

.section-techs {
  display: flex;
}

.section-techs .tech-item {
  margin-top: 3rem;

  width: 35vw;
  text-align: center;
}

.section-techs .tech-item:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.section-techs .tech-item .tech-wrap {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 70px);
}

.section-techs .tech-item .tech-wrap img {
  padding: 0.1rem;
  justify-self: center;
  width: 4.2rem;
  height: 4.2rem;
  color: #fff;
  border-radius: 4pt;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem 0;
    text-align: left;
  }

  .introduction {
    padding: 0 1rem 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    margin-top: 5rem;
  }

  .about-me {
    /* max-width: 100%; */
    padding: 1.3rem;
  }

  .about-me .section-about-me {
    flex-direction: column;
  }

  .about-me .section-about-me section {
    max-width: 100%;
    margin-top: 2rem;
  }

  .graduated .graduated-wrap {
    flex-direction: column;
  }

  .graduated .graduated-wrap img {
    height: 100%;
    width: 100%;
    margin-bottom: 4rem;
  }

  .experience .experience-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5rem);
  }

  .experience .experience-wrap img {
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .section-techs {
    flex-direction: column;
  }

  .section-techs .tech-item {
    width: 100%;
    text-align: left;
  }

  .section-techs .tech-item:nth-child(2) {
    border: none;
  }
}
