.cards-wrap ul {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.cards-wrap .card {
  background: #e6e6e6;
  border-radius: 4pt;
  height: 18rem;
  width: 22rem;

  padding: 1rem;
  margin: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-wrap .card img {
}
